@font-face {
    font-family: "monserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-VariableFont_wght.ttf");
}
*{
    box-sizing: border-box;
    
}
html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}
h1{
    font-size: 40px;
    font-family: "Oswald";
}
h2{
    font-size: 32px;
    font-family: "Oswald";
}
h3{
    font-size: 24px;
    font-family: "Oswald";
}

h4{
    font-size: 20px;
    font-family: "Oswald";
}
h5{
    font-size: 18px;
    font-family: "monserrat";
}
p{
    font-size: 16px;
    font-family: "monserrat";
}
a{
    font-family: "monserrat";
}
#contenedor-header{
    background:linear-gradient(135deg,#1E3A8A,#3B5BBB);
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    height: 75vh;
}
.nota{
    font-size:14px;
}
nav{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#brand{
    display: flex;
    flex-direction: row;
    padding: 0 60px 0 0;
    margin-top: 5px;
}
#logo{
    align-self: center;
    background: #fff;
    margin-left: 160px;
    border-radius: 10px;
    width: 56px;
    height: 56px;
    padding: 6px;
}
#brand div{
    display: flex;
    flex-direction: column;
}
#brand h1{
    color: #fff;
    margin-left: 15px;
    margin-top: 10px;
    text-wrap: nowrap;
    margin-bottom: -10px;
    font-size: 1.25rem;
}
#brand p{
    color: #fff;
    margin-left: 15px;
    font-size: 12px;
    text-wrap:nowrap;
}
#nav-links{
    display: flex;
    flex-direction: row;
    margin-left: -10px;
}
#nav-links ul{
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}
#nav-links a{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}
#nav-links a i{
    margin-right: 5px;
}
#cambio-tema{
    height: 30px;
    align-self: center;
    margin-left: 55px;
    width: 65px;
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: #F97316;
    border: 2px solid #F97316;
    border-radius: 15px;
}
#circulo{
    height: 80%;
    aspect-ratio: 1 / 1; 
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 3px;
    z-index: 30;
    transition: all 0.3s ease;
}
#cambio-tema.oscuro div{
  left: calc(100% - 22px); /* se mueve al otro lado */
  background-color: #1E3A8A;
}
#login-container{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 20px;
}
#login-container a{
    color: #fff;
    text-decoration: none;
}
#inicio-sesion{
    border: 2px solid #3B5BBB;
    padding: 7px 0px;
    text-align: center;
    border-radius: 10px;
    width: 120px;

}

#registrar{
    border: 2px solid #F97316;
    border-radius: 10px;
    padding: 7px 0px;
    font-weight: bolder;
    text-align: center;
    background-color: #F97316;
    width: 120px;
}

#bienvenida{
    position: absolute;
    display: flex;
    top: 10%;
    left: 0;
    width: 100%;
    padding-bottom: 40px;

}
#bienvenida ul{
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#bienvenida li{
    margin-left: -20px;
    font-family: "monserrat";
    list-style: none;
    
    color: #fff;
}
#contenedor-bienvenida{
    display: grid;
    grid-template-columns: 1fr 420px;
    gap: 2rem;
    align-items: center;
}
#contenedor-bienvenida div{
    display: flex;
    flex-direction: column;
}
#contenedor-bienvenida h1{
    margin-left: 125px;
    margin-top: 75px;
}
#contenedor-bienvenida>div>p{
    text-wrap: wrap;
    margin-top: -20px;
    line-height: 1.45;
    margin-left: 125px;
}

#bienvenida h1{
    font-weight: bolder;
    color: #fff;
}
#bienvenida p{
    color: #fff;
}
#bienvenida-botones{
    display: flex !important;
    flex-direction: row !important;
    gap: 25px;
    width: 400px;
    height: 25px;
    margin-top: 22px;
    margin-left: 125px;
}
#bienvenida-botones a{
    width: 150px;
    flex-wrap: nowrap;
    border: 2px solid;
    
    padding: 13px 0;
    text-decoration: none;
    border-radius: 10px;
    align-self: center;
    text-align: center;
}
#bienvenida-botones a:first-of-type{
    background-color: #F97316;
    font-weight: bolder;
    border-color: #F97316;
    color: #fff;
}
#bienvenida-botones a:last-of-type{
    border-color: #3B5BBB;
    color: #fff;

}
#card{
    background-color: #ffffff12;
    display: flex;
    flex-direction: column;
    width: 623px;
    margin-left: 125px;
    margin-top: 30px;
    gap: 15px;
    border-radius: 15px;
    padding: 20px 0;
}
#card div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    gap: 5px;
}
#card h4,#card p{
    margin: 0;
}
#card h4{
    color: #fff;
    font-family: "monserrat";
}
#bienvenida aside{
    background-color: #ffffff12;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
#bienvenida aside p:first-of-type{
    margin-top: 20px;
}
#bienvenida aside p{
    margin-left: 20px;
    margin-top: -10px;
}
#promo-button{
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #F97316;
    font-weight: bolder;
    width: 150px;
    border: 2px solid #F97316;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
}
main section{
    background-color:#f3f4f6;
    margin-left: 15px;
    padding: 0 20px;
}
main h2{
    margin-top: 60px;
    margin-left:125px ;
}
#precios{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 75%;
    padding-bottom: 20px;

}
#precios p{
    margin-top: -50px;
    margin-left: 225px;
    color: #475569;
}
#contenedor-precios-grid{
    display: grid;
    justify-self: center;
    justify-content: center;
    margin-top: 20px;
    grid-template-columns: repeat(3,1fr);
    gap: 1.25rem;
}
#contenedor-precios-grid div{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 330px;
    padding-bottom: 20px;
}
#contenedor-precios-grid div h4{
    margin-left: 20px;
    margin-top: 20px;
}
#contenedor-precios-grid div h3{
    color: #1E3A8A;
    margin-left: 20px;
    margin-top: -10px;
    font-weight: bolder;
}
#contenedor-precios-grid div ul{
    margin-top: -20px;
    margin-left: -20px;
    list-style: none;
}
#contenedor-precios-grid>div>ul>li{
    font-family: "Roboto Slab";
    text-wrap: wrap;
    color: #475569;
}
#contenedor-precios-grid>div>ul>li>i{
    margin-left: 10px;
    margin-right: 10px;
}
#contenedor-precios-grid div a{
    text-decoration: none;
    color: #fff;
    background-color: #F97316;
    font-weight: bolder;
    width: 150px;
    text-align: center;
    padding: 13px 0;
    border-radius: 15px;
    margin-left: 20px;

}
#instructores{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 138%;
    border-bottom: 2px solid #000;

}
#instructores .nota{
    margin-top: -51px;
    margin-left: 300px;
    color: #475569;
}
#contenedor-instructores{
    display: grid;
    gap: 1.25rem;
    margin-top: 20px;
    grid-template-columns: repeat(3,1fr);
    justify-self: center;
    padding-bottom:20px ;
}
.contenedor-instructor{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    align-items: center;
}
.contenedor-instructor img{
    margin-top: 20px;
    width: 225px;
    border-radius: 15px;
    height: 225px;
    
}
.nombre-instructor{
    margin-top: 5px;
}
.especializacion-instructor{
    color: #475569;
    margin-top: -20px;
    text-align: center;
}
#horarios{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 211.5%;
    padding-bottom: 20px;
}
#horarios h2{
    margin-top:40px;
}
#horarios .nota{
    color: #475569;
    margin-top: -51px;
    margin-left: 357px;
}
#contenedor-horarios{
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(4,1fr);
    gap: 1.25rem;
    margin-left: 125px;
    width: 700px;
    padding-bottom:20px;
}
#contenedor-horarios div{
    background-color: #fff;
    width: 175px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
#contenedor-horarios>div>h5{
    margin-left: 20px;
    margin-top: 10px;
}
#contenedor-horarios>div>p:first-of-type{
    margin-top: -15px;
    margin-bottom: -5px;
}
#contenedor-horarios>div>p{
    margin-left: 20px;
    color: #475569;
}

#testimonios{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 250.5%;

    padding-bottom: 20px;
    border-bottom: 2px solid #000;
}
#testimonios h2{
    margin-top:40px;
}
#testimonios .nota{
    color: #475569;
    margin-top: -51px;
    margin-left: 290px;
}
#contenedor-testimonios{
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(2,1fr);
    
    align-self: center;
    gap: 1.25rem;
    padding-bottom: 20px;
}
#contenedor-testimonios article{
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    width: 550px;
    background-color: #fff;
}
#contenedor-testimonios article p:first-of-type{
    font-family: "Roboto Slab";
    color: #0F162A;
    font-size: 1rem;
    margin-left: 10px;
}
#contenedor-testimonios article p{
    color: #475569;
    margin-left: 10px;
}
#contacto-e-inscripcion{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 291%;
    padding-bottom: 20px;
}
#contacto-e-inscripcion h2{
    margin-top:40px;
}
#contacto-e-inscripcion .nota{
    color: #475569;
    margin-top: -51px;
    margin-left: 425px;
}
#contenedor-contacto-inscripcion{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#contenedor-contacto-inscripcion article{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
}
#contenedor-contacto-inscripcion article:nth-child(2){
    padding: 10px 10px;
    height: 100%;
}
#contenedor-contacto-inscripcion article:first-of-type{
    width: 50%;
    margin-left: 125px;
}


#contenedor-contacto-inscripcion article:nth-child(2) label{
    margin-bottom: 3px;
    margin-left: 10px;
    font-family: "monserrat";
    font-weight: bolder;
    font-size: 1.10rem;
}
#contenedor-contacto-inscripcion article:nth-child(2) p:first-of-type{
    margin-top: 0px;
}
#contenedor-contacto-inscripcion article:nth-child(2) p:nth-of-type(3){
    margin-top: 0px;
}
#contenedor-contacto-inscripcion article:nth-child(2) p{
    font-size: 14px;
    margin-left: 10px;
    color: #475569;
}
#contenedor-contacto-inscripcion article:nth-child(2) a{
    margin-bottom: 5px;
    margin-left: 10px;
    background-color: #F97316;
    font-weight: bolder;
    width: 150px;
    border: 2px solid #F97316;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    color: #fff;
}
#contenedor-contacto-inscripcion article:nth-child(2) p:nth-of-type(2){
    margin-top:-10px;
}
#contenedor-contacto-inscripcion article:nth-child(2) p:nth-of-type(4){
    margin-top: -10px;
}
#contenedor-contacto-inscripcion form{
    display: flex;
    flex-direction: column;
    width: 40%;
}
#contenedor-contacto-inscripcion form label{
    margin-bottom: 3px;
    margin-left: 20px;
    font-family: "monserrat";
    font-weight: bolder;
    font-size: 1.10rem;
}
#contenedor-contacto-inscripcion form label:first-of-type{margin-top: 20px;}
#contenedor-contacto-inscripcion form input{
    margin-bottom: 5px;
    margin-left: 20px;
    border: 2px solid #f3f4f6;
    background-color: #fff;
    width: 232%;
    border-radius: 10px;
    color: #000;
    padding: 10px 3px;
}
#contenedor-contacto-inscripcion form input::placeholder{
    color: #475569;
}
#contenedor-contacto-inscripcion form select{
    margin-bottom: 5px;
    margin-left: 20px;
    border: 2px solid #f3f4f6;
    background-color: #f3f4f6;
    width: 232%;
    border-radius: 10px;
    color: #000;
    padding: 10px 3px;
}
#contenedor-contacto-inscripcion form textarea{
    margin-bottom:10px;
    margin-left: 20px;
    border: 2px solid #f3f4f6;
    background-color: #fff;
    width: 232%;
    border-radius: 10px;
    color: #000;
    padding: 10px 3px;
}
#contenedor-contacto-inscripcion form textarea::placeholder{
    color: #475569;
}
#contenedor-contacto-inscripcion form a{
    margin-bottom: 5px;
    margin-left: 20px;
    background-color: #1E3A8A;
    font-weight: bolder;
    width: 150px;
    border: 2px solid #1E3A8A;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    color: #fff;
}
footer{
    position: absolute;
    width: 100%;
    display: flex;
    margin-left: 15px;
    padding: 0 20px;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    top: 361%;
    padding-bottom: 20px;
    background-color: #f3f4f6;
}
#footer-left{
    margin-left: 125px;
}
#footer-left h5{
    color: #475569;
    margin-bottom: -10px;
    font-weight: bolder;
}
#footer-left p{
    color: #475569;
}
#footer-right{
    margin-right: 125px;
    margin-top: 23px;
    color: #475569;
}